.card {
 padding:10px; width: 400px;
  color: black;
  background-color: lightgrey;
 margin: 3; float: none; margin-bottom: 10px;
 margin-top: 100px;  }
.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  justify-content: flex-end;
  justify-content: space-evenly;
  align-items: center; margin-left: -10px;
}
th,td {
  padding: 10px;
  border: 1px dotted black;
  width: 50px;
}
#map {
  color: blue;
  text-decoration: underline;
} .trail { width: 300px; height:200px; }  #jumbotron1 {
    margin-bottom: 0px;
    background-image: url(../img/colorado.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
}
#jumbotron2 {
    margin-bottom: 0px;
    background-image: url(../img/california.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
}
.jumbotron {
    margin-bottom: 0px;
    background-image: url(../img/utah.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
height: 500px;
text-align: center;
}
